.section_light {
  background-color: var(--color_bg_medium);
}
.section__wrapper {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 100px 24px;
  margin-bottom: 48px;
}
@media (max-width: 860px) {
.section__wrapper {
    padding: 32px 24px;
}
}
.button {
  color: var(--color_text);
  border-radius: var(--border_10);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding: 16px 32px;
  background: none;
  border: none;
  line-height: 21.6px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.button__ghost {
  border: 1px solid var(--color-stroke);
}
.button__primary {
  background-color: var(--color-primary);
}
.button__ghost:hover {
  background-color: var(--color_bg_light);
}
.button__primary:hover {
  background-color: var(--color-primary-hover);
}
@media (max-width: 640px) {
  button {
    padding: 12px 24px;
  }
}
/* Social */
.social-icons {
  display: flex;
  align-items: center;
  gap: 0 24px;
}
.social-icons__icon {
  margin: 0;
  padding: 11px;
  border-radius: var(--border-8);
  text-decoration: none;
  border: 1px solid var(--color-stroke);
  width: 48px;
  height: 48px;
}
.social-icons__icon:hover {
  background-color: var(--color_bg_medium);
}
/* Headlink */
.headlink {
  font-weight: 400;
}
.headlink__top {
  color: var(--color-secondary);
  font-size: 18px;
  line-height: 21.6px;
}
.headlink__bottom {
  color: var(--color_text);
  font-size: 46px;
  line-height: 55.2px;
  margin: 8px 0px 32px;
}
@media (max-width: 860px) {
    .headlink__bottom {
        font-size: 34px;
        line-height: 40.8px;
        margin: 8px 0px 24px;
    }
}
/* paragrarh */
.paragrarh {
  color: var(--color_text);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  max-width: 787px;
}
.paragrarh_32 {
  margin-bottom: 32px;
}
/* card */
.card {
  background-color: var(--color_bg_medium);
  border-radius: var(--border_10);
}
.card-32 {
    padding: var(--card-32);
}

/* post */
.post {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.post__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.post__stats {
  display: flex;
  gap: 32px;
}
.post__stat {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: var(--color_hover);
}
.post__header {
    margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: var(--color_text);
}
.post__discription {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color_text);
}
.post__button a {
  display: block;
  
}
@media (max-width: 860px) {
    .post__wrapper {
        margin-top: 24px;
        gap: 24px;
    }
    .post {
        flex-direction: column;
        gap: 16px;
    }
    .post__stats {
        gap: 16px;
    }
    .post__header {
        font-size: 21px;
        line-height: 25.2px;
    }
}
/* course */
.chip {
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color_text);
  border-radius: var(--border_10);
  cursor: pointer;
}
.course-card {
  background-color: var(--color_bg_medium);
  color: var(--color_text);
  border-radius: var(--border_10);
}
.course-card__cover img{
  border-radius: var(--border_10) var(--border_10) 0 0;
  width: 100%;
}
.course-card__body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.course-card__title {
  color: var(--color_text);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  margin-bottom: 4px;
}
.course-card__author {
  color: var(--color_hover);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;

}
.course-card__time {
  color: var(--color_text);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  display: flex;
  gap: 8px;
  align-items: center;

}
.course-card__tags {
  display: flex;
  gap: 12px;
}
.course-card__footer {
  color: var(--color_text);
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  background-color: var(--color_bg_light);
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 var(--border_10) var(--border_10);
}

.tag {
  color: var(--color_text);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  border: 1px solid var(--color-stroke);
  padding: 6px 12px;
  border-radius: var(--border-17);
  display: flex;
  gap: 4px;
  align-items: center;
}
.trust-card {
  background: var(--color_bg_light);
  border-radius: var(--border_10);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 48px 24px;
}
.trust-card_num {
  background: var(--color_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: text;
  text-fill-color: transparent;
  font-size: 46px;
  font-weight: 700;
  line-height: 55.2px;
}
.trust-card_description {
  color: var(--color_text);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}
.trust_h3 {
  color: var(--color_text);
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  margin-bottom: 32px;
  
}
.rating-card {
  background: var(--color_bg_light);
  border-radius: var(--border_10);
  display: flex;
  gap: 24px;
  padding: 24px 32px;
}
.rating-card_num {
  color: var(--color_text);
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
}