* {
  box-sizing: border-box;
}
html {
  background:
  linear-gradient(243.18deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0) 100%),
  linear-gradient(243.43deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0) 82.03%), #F39494;
  
    height: 100%;
}
main {
  max-width: 1440px;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
form {
  background-color: #fffefe;
  max-width: 582px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 72px 94px 91px;
  display: flex;
  flex-flow: column wrap;
  gap: 22px 1px;
}
h1 {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  line-height: 49.03px;
  margin: 0;
  text-align: center;
}
p {
  color: #666666;
  margin: 0;
  font-size: 18px;
  text-align: center;
}
a {
  color: #089fe0;
  text-decoration: none;
}
div {
  margin: 0;
  padding: 0;
}
input {
  background-color: #f5f5f5;
  border: 1px solid #F5F5F5;
  color: #333333;
  caret-color: #089fe0;
  font-size: 16px;
  line-height: 21.79px;
  font-style: italic;
  border-radius: 5px;
  padding: 9px 35px 9px 11px;
  width: 100%;
  border: 0;
}
input[type='checkbox'] {
  opacity: 0;
}
button {
  background-color: #089fe0;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  padding: 9px 12px;
  width: 100%;
  background: url('../imges/Arrow.svg') no-repeat right 24px center #089fe0;
}
.title {
  font-size: 18px;
  margin-bottom: 25px;
}
.title a {
  text-decoration: underline;
}
.field {
  display: flex;
  gap: 1px;
}
.field input:first-child {
  border-radius: 5px 0 0 5px;
}
.field input:last-child {
  border-radius: 0 5px 5px 0;
}
.policy {
  color: #666666;
  align-self: flex-start;
  position: relative;
}
.policy input {
  width: auto;
}
input[type='checkbox']:checked + label[for='checkbox']::before {
  background-color: #089fe0;
  content: '✖';
  padding: 0 3px;
  color: white;
}
label[for='checkbox']::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 2px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  background-color: #f5f5f5;
  font-size: 11px;
}