* {
  box-sizing: border-box;
}
html {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
}
body {
  margin: 0;
  font-family: "Roboto";
  max-width: 1440px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
header {
  max-width: 1080px;
  padding: 71px 0 69px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 77px;
}
nav {
  flex: 1;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 39px;
}
nav li {
  transition: 0.2s transform;
}
nav li:hover {
  transform: scale(1.1);
  box-shadow: none;
}
nav ul li:first-child {
  margin-right: 13px;
}
a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 18.75px;
  text-decoration: none;
  margin: 0;
}
p {
  margin: 0;
}
section {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  line-height: 38px;
  margin: 0 0 30px 0;
}
form input {
  background-color: rgba(31, 41, 55, 0.6);
  color: inherit;
  line-height: 18.75px;
  height: 40px;
  border-radius: 100px;
  border: 0;
  padding: 11px 12px 11px 49px;
  max-width: 224px;
}
form {
  position: relative;
}
form img {
  position: absolute;
  top: 14px;
  left: 18px;
}
form input::placeholder {
  font-weight: inherit;
    line-height: normal;
    color: #a3a7ae;
}
form input:focus-visible {
  outline: 1px solid #4b5563;
}
footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 28px;
  padding: 77px;
  text-align: center;
}
.icon {
  background-color: #4b5563;
  padding: 6px 12px;
  margin-right: 11px;
  border-radius: 3px;
  font-weight: 600;
  line-height: 22.63px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
}
.myBlog {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
}
.date {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 16.41px;
  margin: 0 0 14px 0;
}
.name {
  line-height: 28px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: start;
}
.name > div {
  display: flex;
  flex-flow: column wrap;
}
.position {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 28px;
}
.img {
  margin-bottom: 69px;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 708px;
  gap: 32px;
  text-align: left;
}
.content p:first-child {
  font-size: 20px;
  line-height: 32px;
}
.content p {
  line-height: 30px;
}
